footer {
  text-align: center;
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 25px;
  box-shadow: inset 0 1px 0 #000;
}
footer p {
  font-size: 0.9rem;
}
footer a {
  color: #5D8973;
}
footer a:hover {
  color: #5d8973d5;
  transition: 0.3s;
}