footer {
  text-align: center;
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 25px;
}
footer p {
  font-size: 0.9rem;
}
footer a {
  color: #336060;
}
footer a:hover {
  color: #5d8973;
  transition: 0.3s;
}