.projeto-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  margin-bottom: 80px;
}
.projetos {
 padding: 20px 60px;
 background: rgba(0, 0, 0, 0.2);
 box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(4.8px);
 -webkit-backdrop-filter: blur(4.8px);
 border: 1px solid rgba(0, 0, 0, 0.22);
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.projetos:hover {
  background-color: #000000;
  border: 1px solid #1A4855;
}
.projetos a {
  background-color: #1d1d1d;
  display: inline-block;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  position: relative;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.projetos a::after {
  content: "";
  position: absolute;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.projetos a:hover {
  background: #1d1d1d;
  transform: scale(1.25, 1.25);
}
.projetos a:hover::after {
  opacity: 1;
}
.projetos h3 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.1;
  position: relative;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.projetos h3:hover {
  font-size: 1.4rem;
  opacity: 50;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  background: linear-gradient(to right, #5D8973 0%, #1A4855 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}