@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import "./header.css";
@import "./introducao.css";
@import "./projetos.css";
@import "./redes.css";
@import "./footer.css";
@import "./responsivo.css";
@import "./light.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background: #171717;
  color: #F9f9f9;
  font-family: 'Montserrat', sans-serif;
  transition: background 0.2s linear;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}
#back-to-top {
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 15px;
  left: 1450px;
  background-color: black;
  border-radius: 20px;
  color: #F9f9f9;
  transition: 0.3s;
  z-index: 1;
}
#back-to-top i {
  font-size: 20px;
}
